.content--container{
  
}

h1 {
  color: #0f0c0a;
  font-family: piazzolla, serif;
  font-weight: 500;
  font-size: 4rem;
}

h2 {
  color: #696969;
  font-family: raleway, sans-serif;
  font-weight: 200;
  font-size: 2rem;
  font-style: italic;
}
