body {
  background: repeating-linear-gradient(
to right,
#fffaef,
#696969 1px,
#fffaef 1px,
#fffaef 235px
);
  background-color: #fffaef;
  justify-content: center;
  align-items: center;
  width: auto;
}

.content--container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template:
    'nav--bar'
    'header'
    'connect--container';
}

#nav--bar {
  display: block;
  overflow: hidden;
  width: 100%;
  padding-top: 50px;
  margin-left: 50px;
}

.nav--dropdown {
  float: left;
  overflow: hidden;
  width: 25%;
}

.nav--link {
  color: #696969;
  font-family: raleway, sans-serif;
  font-weight: 150;
  font-size: 1rem;
  font-style: regular;
  border: none;
  outline: none;
  padding: 10px 15px;
  background-color: inherit;
  cursor: pointer;
  margin: 0;
}

.dropdown--content {
  display: none;
  position: absolute;
  background-color: inherit;
  min-width: 160px;
  z-index: 1;
}

.nav--item {
  color: #fffaef;
  font-family: raleway, sans-serif;
  font-weight: 150;
  font-size: 1rem;
  font-style: regular;
  float: none;
  padding: 10px 15px;
  text-align: center;
  display: block;
}

/*.nav--link:hover .dropdown--content {
  display: block;
  }*/
h1 {
  color: #0f0c0a;
  font-family: piazzolla, serif;
  font-weight: 500;
  font-size: 4rem;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
}


h2 {
  color: #696969;
  font-family: raleway, sans-serif;
  font-weight: 200;
  font-size: 2rem;
  font-style: italic;
  display: grid;
  justify-content: center;
  text-align: center;
}

.connect--container {
  display: grid;

  justify-content: flex-end;
  margin-right: 5px;
}

.quote {
  color: #0f0c0a;
  font-family: raleway, sans-serif;
  font-weight: 150;
  font-size: 1rem;
  font-style: italic;
  padding-top: 5%;
  justify-content: center;
  text-align: right;
  line-height: 35px;

}

.period {
  color: #0f0c0a;
  font-family: piazzolla, serif;
  font-weight: 150;
  font-size: 3rem;
  font-style: regular;
  margin: 0 auto;
  height: 15px;
  padding-bottom: 30px;
  width: 0 auto;
}

.connect {
  color: #0f0c0a;
  font-family: raleway, sans-serif;
  font-weight: 150;
  font-size: 1rem;
  font-style: regular;
  margin: 0;
  justify-content: center;
  text-align: right;
  line-height: .2rem;
  padding-bottom: 50px;
  cursor: pointer;
}

.connect--hover {
  font-style: regular;
}

.connect--hover:hover {
  text-transform: inherit;
}
