body {
  background: #0f0c0a;

}
/* NAVIGATION */
.navbar {
  background-color: #fffaef;
}
.nav-link {
    font-family: 'roboto slab', serif;
    font-weight: 200;
}
.navbar-brand {
  font-family: 'Playfair display';
}
.header {
  margin-top: 5em;
}
h1 {
  text-align: center;
  margin-top: 5em;
  font-family: "Playfair Display", serif;
  color: #0f0c0a;
}

p {
  text-align: center;
  font-family: 'roboto slab', serif;
  font-size: 1.3rem;
  color: #696969;
}
.card {
  display: block;
  text-align: center;
  padding: 3%;
  margin: 5% auto;
  width: 70%;
}
/* FOOTER */
footer nav {
  display: flex;
  width: 100vw;
}
footer span {
  font-style: italic;
  font-family: "Playfair Display", serif;
}
footer span:hover {
  color: #fffaef;
  cursor: auto;
}
footer a {
  color: #fffaef;
  font-style: regular;
  font-weight: 100;
  font-family: "playfair display", serif;
  margin-left: 1em;
}
footer .CTA:hover {
  color: #49A0B5;
  cursor: pointer;
}
