body {
  background: #fffaef;

}
/* NAVIGATION */
.navbar {
  background-color: #fffaef;
}
.nav-link {
    font-family: 'roboto slab', serif;
    font-weight: 200;
}
.navbar-brand {
  font-family: 'Playfair display';
}
/* FOOTER */
footer nav {
  display: flex;
  width: 100vw;
}
footer span {
  font-style: italic;
  font-family: "Playfair Display", serif;
}
footer span:hover {
  color: #fffaef;
  cursor: auto;
}
footer a {
  color: #fffaef;
  font-style: regular;
  font-weight: 100;
  font-family: "playfair display", serif;
  margin-left: 1em;
}
footer .CTA:hover {
  color: #49A0B5;
  cursor: pointer;
}
