body {
  font-family: 'Poppins', sans-serif;

}

/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {
  #navigation {
    display: flex;
  }
  .icons {
    margin-left: auto;
  }
}
@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    'featuredProduct featuredProduct'
    'secondaryProduct CTA';
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
    'bookcases'
    'bedroom'
    'patio'
    'couches'
    'desks';
  }
}

/* Grid CSS */
#heroGrid {
  margin: 0px 5%;
  display: grid;
  min-height: 400px;
  max-height: 600px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;
  grid-template-areas:
    "featuredProduct secondaryProduct"
    "featuredProduct CTA"
  ;
}
#featuredProduct {
  grid-area: featuredProduct;
  background-image: url("./../images/furniture1.png");
}

#secondaryProduct {
  grid-area: secondaryProduct;
  background-image: url("./../images/furniture2.png");
}

#CTA {
  grid-area: CTA;
  justify-content: space-around;
  cursor: pointer;
  background-image: url("./../images/woodbg.png"), url("./../images/arrow-right.png");
}

#CTA:hover {
  transform: scale(1.2);
}


.heroGridArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}

#headline {
  border-bottom: 5px solid #ff6200;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 75px;
  right: -35px;
  z-index: 1;
  padding: 10px 25px;
}
/* Category Grid CSS */
.subHeading {
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid {
margin: 0px 5%;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 300px 300px 300px;
row-gap: 5px;
grid-template-areas:
"bookcases bedroom couches"
"patio patio couches"
"desks desks desks";
}
#bookcases {
  background-image: url("./../images/bookcases.png");
}
#bookcases:hover {transform: scale(1.05);}

#bedroom {
  background-image: url("./../images/beds.png");
}
#bedroom:hover {transform: scale(1.05);}

#couches {
  background-image: url("./../images/couch.png");
  grid-column: 3;
  grid-row: 1 / span 2;
}
#couches:hover {transform: scale(1.05);}

#patio {
  background-image: url("./../images/patio.png");
  grid-column: 1 / span 2;
  background-position: left -700px;
}
#patio:hover {transform: scale(1.05);}

#desks {
  background-image: url("./../images/desks.png");
  grid-column: 1 / span 3;
  background-position: centern 50px;
}
#desks:hover {transform: scale(1.05);}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}
.heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #ff6200;
}
/* Navigation CSS */
/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
}
